[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"moto" = {index = "pypi", version = "*"}
"pylint" = {index = "pypi", version = "*"}
"pytest" = {index = "pypi", version = "*"}
"pytest-cov" = {index = "pypi", version = "*"}

[packages]
"boto3" = "*"
"elasticsearch" = "*"
"ipykernel" = "*"
"jupyter" = "*"
"numpy" = "*"
"openai" = "*"
"pandas" = "*"
"python-dotenv" = "*"
"scikit-learn" = "*"
"tqdm" = "*"



[requires]
python_version = "3.11"
